* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background: linear-gradient(30deg, rgb(40, 40, 60), rgb(60, 60, 80));
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 2.4rem;
    letter-spacing: 4px;
    margin: 10px;
}

h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 5px;
}

p {
    font-size: 1rem;
}

button, select {
    border-style: none;
    background-color: rgb(20, 20, 30);
    height: 30px;
    width: 30px;
    color: white;
    font-size: 1rem;
    outline: none;
}

button:hover, select:hover {
    background-color: rgb(40, 40, 60);
    cursor: pointer;
}

.searchBar {
    display: flex;
    align-items: left;
}

table {
    min-width: 900px;
    margin: 10px 0;
}

table img {
    height: 50px;
    padding: 4px;
}

thead {
    height: 20px;
}

thead td {
    font-size: 1.1rem;
    font-weight: bold;
}

td {
    text-align: left;
    min-width: 20px;
}

.pagingation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-page-number {
    background-color: rgb(60, 40, 40);
}

.active-page-number:hover {
    background-color: rgb(80, 60, 60);
}

.pagination,
.page-nav {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.page-size-container label {
    margin: 0 5px;
}

.page-size-container select {
    min-width: 50px;
    padding: 0 5px;
    border-radius: 5px;
}

.page-nav-container {
    display: flex;
    align-items: center;
}

.page-nav-container p {
    margin: 5px;
}
